<div class="row">
    <div class="col-md-6">
        <form [formGroup]="transactionForm">
            <div class="mb-3">
                <label for="source" class="form-label">Küldő</label>
                <select class="form-select" id="source" formControlName="source">
                    @for (user of users; track $index) {
                        <option [ngValue]="{id: user.id}">{{user.name}} ({{user.customerId}})</option>
                    }
                </select>
            </div>
            <div class="mb-3">
                <label for="destination" class="form-label">Cél</label>
                <select class="form-select" id="destination" formControlName="destination">
                    @for (user of users; track $index) {
                        <option [ngValue]="{id: user.id}">{{user.name}} ({{user.customerId}})</option>
                    }
                </select>
            </div>
            <div class="mb-3">
                <label for="amount" class="form-label">Összeg (Ft):</label>
                <input type="number" min="0" class="form-control" id="amount" formControlName="amount">
            </div>
        </form>
        <button class="btn btn-outline-primary" (click)="createTransaction()">Küldés</button>
    </div>
</div>
